.container {
    margin-top: 20px;
}

.creationItem {
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    background-color: red;
    & *:first-child {
        margin-right: 20px;
    }
}

.creationItemDelete {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.creationSelect {
    & *:first-child {
        margin-right: 5px;
    }
}

.input {
    display: flex;
    align-items: center;
}
